In [ ]:
import plotly.express as px
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('drive/MyDrive/spbu_life_expectancy/train.csv')
df_test = pd.read_csv('drive/MyDrive/spbu_life_expectancy/test.csv')
print(len(df.columns))
print(len(df_test.columns))

23
22

In [ ]:
def delete_whitespace(word):
  try:
    word = ''.join(word.split(' '))
  except:
    pass
  return word

df.country = df.country.apply(delete_whitespace)
df_test.country = df_test.country.apply(delete_whitespace)
df.fillna(df.mean(), inplace=True)
df_test.fillna(df_test.mean(), inplace=True)
print(len(df.columns))
print(len(df_test.columns))
print(df.isnull().sum())
print(df_test.isnull().sum())

23
22
id                                 0
country                            0
year                               0
status                             0
life_expectancy                    0
adult_mortality                    0
infant_deaths                      0
alcohol                            0
percentage_expenditure             0
hepatitis_b                        0
measles                            0
bmi                                0
under-five_deaths                  0
polio                              0
total_expenditure                  0
diphtheria                         0
hiv/aids                           0
gdp                                0
population                         0
thinness_1-19_years                0
thinness_5-9_years                 0
income_composition_of_resources    0
schooling                          0
dtype: int64
id                                 0
country                            0
year                               0
status                             0
adult_mortality                    0
infant_deaths                      0
alcohol                            0
percentage_expenditure             0
hepatitis_b                        0
measles                            0
bmi                                0
under-five_deaths                  0
polio                              0
total_expenditure                  0
diphtheria                         0
hiv/aids                           0
gdp                                0
population                         0
thinness_1-19_years                0
thinness_5-9_years                 0
income_composition_of_resources    0
schooling                          0
dtype: int64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  # This is added back by InteractiveShellApp.init_path()

In [ ]:
feature_not_required = ['year', 'population', 'gdp', 'hiv/aids', 'diphtheria', 'alcohol', 'infant_deaths', 
                        'total_expenditure', 'percentage_expenditure', 'hepatitis_b', 'polio', 'thinness_5-9_years', 
                        'thinness_1-19_years', 'bmi', 'under-five_deaths']
df = df.drop(feature_not_required, axis = 1)
df_test = df_test.drop(feature_not_required, axis = 1)

In [ ]:
print(len(df.columns))
print(len(df_test.columns))

8
7

In [ ]:
Country_dummy = pd.get_dummies(df['country'])
Country_dummy_test = pd.get_dummies(df_test['country'])

status_dummy = pd.get_dummies(df['status'])
status_dummy_test = pd.get_dummies(df_test['status'])

df.drop(['country','status'], inplace=True, axis=1)
df_test.drop(['country','status'], inplace=True, axis=1)

df = pd.concat([df, Country_dummy, status_dummy], axis=1)
df_test = pd.concat([df_test, Country_dummy_test, status_dummy_test], axis=1)

df.drop('Developing', inplace = True, axis = 1)
df_test.drop('Developing', inplace = True, axis = 1)

print(len(df.columns))
print(len(df_test.columns))

190
188

In [ ]:
df_test.info

<bound method DataFrame.info of       id  adult_mortality  measles  income_composition_of_resources  \
0      0             69.0      443                            0.920
1      1            284.0      243                            0.414
2      2            647.0     2672                            0.559
3      3             39.0    13476                            0.485
4      4             19.0        0                            0.727
..   ...              ...      ...                              ...
874  874            222.0        1                            0.780
875  875             29.0        0                            0.698
876  876             45.0        4                            0.372
877  877            285.0      210                            0.430
878  878            156.0        0                            0.720

     schooling  Afghanistan  Albania  Algeria  Angola  AntiguaandBarbuda  ...  \
0         17.0            0        0        0       0                  0  ...
1          8.8            0        0        0       0                  0  ...
2         11.7            0        0        0       0                  0  ...
3          8.0            0        0        0       0                  0  ...
4         15.2            0        0        0       0                  0  ...
..         ...          ...      ...      ...     ...                ...  ...
874       15.5            0        0        0       0                  0  ...
875       14.2            0        0        0       0                  0  ...
876        8.8            0        0        0       0                  0  ...
877        8.5            0        0        0       0                  0  ...
878       13.3            0        0        0       0                  0  ...

     UnitedStatesofAmerica  Uruguay  Uzbekistan  Vanuatu  \
0                        0        0           0        0
1                        0        0           0        0
2                        0        0           0        0
3                        0        0           0        0
4                        0        0           0        0
..                     ...      ...         ...      ...
874                      0        0           0        0
875                      0        0           0        0
876                      0        0           0        0
877                      0        0           0        0
878                      0        0           0        0

     Venezuela(BolivarianRepublicof)  VietNam  Yemen  Zambia  Zimbabwe  \
0                                  0        0      0       0         0
1                                  0        0      0       0         0
2                                  0        0      0       0         0
3                                  0        0      0       0         0
4                                  0        0      0       0         0
..                               ...      ...    ...     ...       ...
874                                0        0      0       0         0
875                                0        0      0       0         0
876                                0        0      0       0         0
877                                0        0      0       0         0
878                                0        0      0       0         0

     Developed
0            1
1            0
2            0
3            0
4            0
..         ...
874          0
875          0
876          0
877          0
878          0

[879 rows x 188 columns]>

In [ ]:
df_col = set(df.columns.to_list())
df_test_col = set(df_test.columns.to_list())

for item in df_col:
  if item not in df_test_col:
    print(item)

Romania
life_expectancy

In [ ]:
df.drop('Romania', inplace=True, axis=1)
print(df)

        id  life_expectancy  adult_mortality  measles  \
0        0             80.0             64.0        1
1        1             82.7             54.0       61
2        2             68.8            222.0    20359
3        3             52.4            336.0      115
4        4             63.0            232.0      272
...    ...              ...              ...      ...
2044  2044             71.0            218.0        0
2045  2045             66.1            227.0        1
2046  2046             73.9             97.0       92
2047  2047             88.0             66.0      135
2048  2048             73.6             89.0        0

      income_composition_of_resources  schooling  Afghanistan  Albania  \
0                            0.813000  14.600000            0        0
1                            0.932000  15.700000            0        0
2                            0.733000  14.800000            0        0
3                            0.629348  11.965256            0        0
4                            0.331000   5.100000            0        0
...                               ...        ...          ...      ...
2044                         0.716000  13.700000            0        0
2045                         0.493000  10.800000            0        0
2046                         0.634000  12.100000            0        0
2047                         0.851000  15.800000            0        0
2048                         0.787000  14.100000            0        0

      Algeria  Angola  ...  UnitedStatesofAmerica  Uruguay  Uzbekistan  \
0           0       0  ...                      0        0           0
1           0       0  ...                      0        0           0
2           0       0  ...                      0        0           0
3           0       0  ...                      0        0           0
4           0       0  ...                      0        0           0
...       ...     ...  ...                    ...      ...         ...
2044        0       0  ...                      0        0           0
2045        0       0  ...                      0        0           0
2046        0       0  ...                      0        0           0
2047        0       0  ...                      0        0           0
2048        0       0  ...                      0        0           0

      Vanuatu  Venezuela(BolivarianRepublicof)  VietNam  Yemen  Zambia  \
0           0                                0        0      0       0
1           0                                0        0      0       0
2           0                                0        0      0       0
3           0                                0        0      0       0
4           0                                0        0      0       0
...       ...                              ...      ...    ...     ...
2044        0                                0        0      0       0
2045        0                                0        0      0       0
2046        0                                0        0      0       0
2047        0                                0        0      0       0
2048        0                                0        0      0       0

      Zimbabwe  Developed
0            0          1
1            0          1
2            0          0
3            0          0
4            0          0
...        ...        ...
2044         0          1
2045         0          0
2046         0          0
2047         0          1
2048         0          0

[2049 rows x 189 columns]

In [ ]:
Y_train = df['life_expectancy']
X_train = df.drop('life_expectancy', axis = 1)

In [ ]:
X_train.drop('id', inplace=True, axis=1)
df_test.drop('id', inplace=True, axis=1)
print(X_train.columns.to_list())
print(df_test.columns.to_list())
print(Y_train.to_list())

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [ ]:
Linear_model= LinearRegression()
Linear_model.fit(X_train, Y_train)

LinearRegression()

In [ ]:
predictions = Linear_model.predict(df_test)
print(predictions.shape)
print(ids.shape)
res = np.vstack((ids,predictions))
res = res.transpose()
res_frame = pd.DataFrame(data=predictions, columns=['life_expectancy'])
print(res_frame)
res_frame.to_csv('predictions.csv', index_label='id')
train_pred = Linear_model.predict(X_train)
print(mean_squared_error(Y_train, train_pred, squared=False))

(879,)
(879,)
     life_expectancy
0          81.210158
1          57.011639
2          56.330735
3          60.014436
4          70.188927
..               ...
874        70.328143
875        69.382899
876        55.414148
877        57.410547
878        73.114972

[879 rows x 1 columns]